{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

    <link rel="stylesheet" href="/static/assets/plugins/chart-morris/css/morris.css">

{% endblock stylesheets %}

{% block content %}

    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->

            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="row">
                        <!-- [ Morris Chart ] start -->
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>平均月使用次數用戶數分佈</h5>
                                </div>
                                <div class="card-block">
                                    <div id="morris-line-smooth-chart" class="ChartShadow" style="height:300px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5>平均月運動時間用戶數分佈</h5>
                                </div>
                                <div class="card-block">
                                    <div id="morris-line-smooth-chart-2" class="ChartShadow" style="height:300px"></div>
                                </div>
                            </div>
                        </div>
                        <!-- [ Morris Chart ] end -->
                    </div>
                    <div class="row">
                        <!--[ daily sales section ] start-->
                        <!-- <div class="col-md-6 col-xl-4">
                          <div class="card card-event">
                              <div class="card-block">
                                  <div class="row align-items-center justify-content-center" style="margin-bottom:40px;">
                                      <div class="col">
                                          <h5 class="m-0">JoiiUp 虹映科技</h5>
                                      </div>
                                      <div class="col-auto">
                                          <label class="label theme-bg text-white f-14 f-w-400 float-right">正常</label>
                                      </div>
                                  </div>
                                  <h2 class="mt-3 f-w-300" style="text-align:center;margin-bottom:40px;">5082 <sub class="text-muted f-14"> 用戶</sub></h2>
                                  <label class="label theme-bg text-white f-18 f-w-800" style="width:100%;text-align:center;margin-top:10px;">User Mapping</label>
                              </div>
                          </div>
                        </div> -->
                        <!--[ daily sales section ] end-->
                        <!--[ Recent Users ] start-->
                        <div class="col-xl-12 col-md-12">
                            <div class="card Recent-Users">
                                <div class="card-header">
                                    <h5>用戶分群</h5>
                                </div>
                                <div class="card-block px-0 py-3">
                                    <div class="table-responsive">
                                      <table class="table table-hover">
                                          <thead>
                                              <tr>
                                                  <th>User</th>
                                                  <th>Month</th>
                                                  <th>Location</th>
                                                  <th>分類</th>
                                                  <th class="text-right"></th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              {% with pool=12345 %}
                                              {% for obj in page_obj %}
                                              <tr>
                                                  <td>

                                                      <h6 class="m-0"><img class="rounded-circle" style="width:40px;" src="/static/assets/images/user/avatar-{{ pool|make_list|random }}.jpg" alt="activity-user">{{ obj.user_hash }}</h6>

                                                  </td>
                                                  <td>
                                                      <h6 class="m-0">{{ obj.month }}</h6>
                                                  </td>
                                                  <td>
                                                      <h6 class="m-0">{{ obj.location }}</h6>
                                                  </td>
                                                  <td>
                                                      <h6 class="m-0 {% if obj.label == '0' %}text-c-green{% else %}text-c-red{% endif %}">{% if obj.label == '0' %}新手{% else %}進階{% endif %}</h6>
                                                  </td>
                                                  <td class="text-left"><i class="fas fa-circle {% if obj.label == '0' %}text-c-green{% else %}text-c-red{% endif %} f-10"></i></td>
                                              </tr>
                                              {% endfor %}
                                              {% endwith %}
                                          </tbody>
                                      </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--[ Recent Users ] end-->
                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    {{ chart|json_script:"area-chart" }}
    {{ chart2|json_script:"area-chart-2" }}
    <script src="/static/assets/plugins/chart-morris/js/raphael.min.js"></script>
    <script src="/static/assets/plugins/chart-morris/js/morris.min.js"></script>
    <script type="text/javascript">
      'use strict';
      $(document).ready(function() {
          setTimeout(function() {
          // [ line-smooth-chart ] start
          Morris.Area(JSON.parse(document.getElementById('area-chart').textContent));
          Morris.Area(JSON.parse(document.getElementById('area-chart-2').textContent));
          // [ line-smooth-chart ] end
              }, 700);
      });
    </script>

{% endblock javascripts %}
